version: '3.9'

services:
  backend:
    build:
      context: .
    container_name: library-backend
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Server=sqlserver,1433;Database=LibraryDb;User Id=sa;Password=Library@123;TrustServerCertificate=True
      - Jwt__Issuer=LibraryApi
      - Jwt__Audience=LibraryApi
      - Jwt__Key=REPLACE_WITH_A_LONG_RANDOM_SECRET_KEY_>_32_chars
      - Jwt__ExpireMinutes=120
      - Minio__Endpoint=minio:9000
      - Minio__AccessKey=admin
      - Minio__SecretKey=admin123
      - Minio__Bucket=library
    depends_on:
      - sqlserver
      - minio

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Library@123
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  minio:
    image: minio/minio
    container_name: minio_backend
    command: server /data --console-address ":9090"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin123
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - minio_data:/data

volumes:
  sql_data:
  minio_data:
